.cardGap {
	flex:1;
}

.cardGap2 {
	flex:2;
}

.cardGap3 {
	flex:3;
}

.cardGap4 {
	flex:4;
}

.cardGap5 {
	flex:5;
}

.cardFlex {
	display:flex;
}

.columnOrder {
	flex-direction:column;
}

.width100 {
	width:100%;
}

.height100 {
	height:100%;
}

.width20 {
	width:20%;
}

.centerFlex {
	justify-content:center;
	align-items:center;
}

.alignCenter {
	align-items:center;
}

.justifyAround {
	justify-content:space-around;
}

.fullWidth {
	width:100vw;
}

.fullHeight {
	height:100vh;
}

.cardGrid {
	display:grid;
}

.cardGrid3x3 {
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr;
}

.cardGrid3x3p {
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr;
}

.justifySelfCenter {
	justify-self:center;
}

.border1Black {
	border:1px solid black;
}

.padding20 {
	padding:20px;
	cursor:pointer;
}

.padding20:hover {
	background-color:rgba(0,120,255,0.4);
}

.alignSelfCenter {
	align-self:center;
}

.centerText {
	text-align:center;
	font-size:2rem;
}

.border1 {
	border-top:3px solid black;
	border-left:3px solid black;
}

.border2 {	border-top:3px solid black; }

.border3 {
	border-top:3px solid black;
	border-right:3px solid black;
}

.border4 {	border-left:3px solid black; }
.border6 {	border-right:3px solid black; }

.border7 {
	border-bottom:3px solid black;
	border-left:3px solid black;
}

.border8 {	border-bottom:3px solid black; }

.border9 {
	border-bottom:3px solid black;
	border-right:3px solid black;
}